<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Code</label>
                    <input name="code" [(ngModel)]="code" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Name</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Mfg date</label>
                    <input name="mfgDate" [(ngModel)]="mfgDate" type="date" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Expiry date</label>
                    <input name="expDate" [(ngModel)]="expDate" type="date" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Brand</label>
                    <input name="brand" [(ngModel)]="brand" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Price</label>
                    <input name="price" [(ngModel)]="price" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Sellar Name</label>
                    <input name="sellarName" [(ngModel)]="sellarName" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Distributor Name</label>
                    <input name="distributorName" [(ngModel)]="distributorName" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readProduct()" class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>